main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.bg-color-purple::before {
    content: "";
    background: linear-gradient(200deg, hsl(293, 74%, 56%), hsl(264, 100%, 61%));
    position: absolute;
    min-width: 50%;
    height: 75vh;
    border-radius: 100% 0% 100% 0% / 0% 52% 48% 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.phone-Container {
    position: relative;
    z-index: 2;
}

.title-section {
    margin-top: 5rem;
    text-align: center;
    position: relative;
    z-index: 1;
}

.title {
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--VeryDarkDesaturatedViolet);
    margin-bottom: 1rem;
    letter-spacing: .1rem;
}

.description {
    padding-inline: 1.5rem;
    color: var(--DarkGrayishViolet);
    line-height: 1.5rem;
    margin-bottom: 3rem;
}

.bg-color-pink-mobile::before {
    content: "";
    background: hsla(276, 100%, 81%, 0.090);
    position: absolute;
    min-width: 50%;
    height: 60vh;
    border-radius: 100% 0% 100% 0% / 52% 100% 0% 48% ;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.scale-up-horizontal-left {
    animation: scale-up-horizontal-left 0.8s; 
} 
    
@keyframes scale-up-horizontal-left{
    0% {
        transform: scaleX(.4);
        transform-origin: left center;
    }
    100% {
        transform: scaleX(1);
        transform-origin: left center;
    }
}


@media only screen and (min-width: 700px) {
    main {
        margin-top: 8rem;
    }

    .bg-color-purple::before {
        min-width: 80vw;
        height: 55vh;
        border-bottom-right-radius: 100%;
        border-bottom-left-radius: 100%;
        left: -30%;
        top: 0;
        z-index: -1;
    }

    .title-section {
        max-width: 30rem;
    }

    .description {
        margin-bottom: 2rem;
    }

    .bg-color-pink-mobile::before {
        display: none;
    }
    
    .bg-color-pink-desktop::before {
        content: "";
        background: hsla(276, 100%, 81%, 0.090);
        position: absolute;
        min-width: 50%;
        height: 60vh;
        border-radius: 100% 0% 100% 0% / 52% 100% 0% 48% ;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}

@media only screen and (min-width: 1000px) {

    main {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 100vh;
        place-content: center;
        padding: 0;
        margin-top: 0;
    }

    .bg-color-purple::before {
        min-width: 43vw;
        height: 90vh;
        background: linear-gradient(200deg, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
        border-bottom-right-radius: 100%;
        border-bottom-left-radius: 100%;
        left: -15%;
        top: 0;
        z-index: -1;
    }

    .phone-Container {
        position: absolute;
        left: 20%;
    }

    .title-section {
        margin-right: auto;
        inset: 0;
        margin-top: 0;
        text-align: left;
        max-width: 28rem;
    }
    
    .title {
        font-size: 2.3rem;
        font-weight: 700;
        color: var(--VeryDarkDesaturatedViolet);
        margin-bottom: 1rem;
        letter-spacing: .1rem;
    }
    
    .description {
        padding-inline: 0;
    }

    .bg-color-pink-desktop::before  {
        content: "";
        background: hsla(276, 100%, 81%, 0.090);
        position: absolute;
        min-width: 40vw;
        height: 90vh;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        right: -15%;
        bottom: 0;
        z-index: -1;
    }
}