main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
    padding-top: 4rem;
}

.bg-color-purple {
    background: linear-gradient(200deg, hsl(293, 74%, 56%), hsl(264, 100%, 61%));
    position: absolute;
    min-width: 50%;
    height: 75vh;
    border-radius: 100% 0% 100% 0% / 0% 52% 48% 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.phone-Container {
    position: relative;
    z-index: 1;
}

.title-section {
    margin-top: 5rem;
    text-align: center;
    max-width: 30rem;
}

.title {
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--VeryDarkDesaturatedViolet);
    margin-bottom: 1rem;
    letter-spacing: .1rem;
}

.description {
    padding-inline: 1.5rem;
    color: var(--DarkGrayishViolet);
    line-height: 1.5rem;
    margin-bottom: 3rem;
}

.bg-color-pink {
    background: hsla(276, 100%, 81%, 0.090);
    position: absolute;
    min-width: 50%;
    height: 70vh;
    border-radius: 100% 0% 100% 0% / 52% 100% 0% 48% ;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/*Animations*/

.scale-up-center {
    animation: scale-up-center 0.8s; 
} 

@keyframes scale-up-center { 
    0% {
        transform: scale(.5)
    } 
    100% {
        transform: scale(1)
    } 
}

.scale-in-br {
	animation: scale-in-br 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-br {
    0% {
        transform: scale(0);
        transform-origin: 100% 100%;
        opacity: 1;
    }
    100% {
        transform: scale(1);
        transform-origin: 100% 100%;
        opacity: 1;
    }
}

.scale-in-tl {
	animation: scale-in-tl 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-tl {
    0% {
        transform: scale(0);
        transform-origin: 0% 0%;
        opacity: 1;
    }
    100% {
        transform: scale(1);
        transform-origin: 0% 0%;
        opacity: 1;
    }
}

/*Desktop*/

@media only screen and (min-width: 1000px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-content: center;
        padding: 0;
        overflow: hidden;
    }

    .bg-color-purple {
        background: linear-gradient(200deg, hsl(293, 100%, 63%) 40%, hsl(264, 100%, 61%) 90%);
        min-width: 35vw;
        height: 85vh;
        left: -5rem;
        border-radius: 0 0 50rem 40rem;
    }

    .bg-color-pink {
        min-width: 35vw;
        height: 85vh;
        right: -6rem;
        border-radius: 50rem 40rem 0 0;
    }

    .phone-Container {
        left: 40%;
    }

    .title-section {
        text-align: left;
        max-width: 28rem;
    }
    
    .title {
        font-size: 2.3rem;
        font-weight: 700;
        color: var(--VeryDarkDesaturatedViolet);
        margin-bottom: 1rem;
        letter-spacing: .1rem;
    }
    
    .description {
        padding-inline: 0;
    }
}